@import "tailwindcss";


h3{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(50% 50%);
  font-size: 32px;
  color: red;
}
.text-container{
  color: black;
}
.text-center{
  position: relative;
  top: 200px;
  left: 300px;
  font-size: 20px;
  color: red;
  z-index: 1 !important;
}