@import "tailwindcss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html,body{
    
    width: 100%;
    height: 100%;
}
body{
    background-color: #f5f5f5;
}
.parent {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    
    width: 280px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 260px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
}
h1,p{
    margin: 13px 10px;
    text-align: center;
}
.card button{
    width: auto;
    padding: 10px;
    border-radius: 20px;
}