html,body{
  width: 100%;
  height: 100%;
}
  .parent{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
button{
  font-size: 28px;
  padding: 10px 35px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}