*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* color: white; */
}
html,body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  background-color: #111;
  padding: 60px 90px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  /* align-content: flex-start; */

}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin-bottom: 40px;

}

.top img{
  height: 50px;
  width: 50px;
background-size: cover;
  border-radius: 50%;
  border: 1px solid #dadada;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px ;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}
  /* .center{
    background-color: red;
  } */

.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #b1b1b1;
}

.center h2{
    font-size: 20px;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  display: 500;
  padding: 4px 8px ;
  border-radius: 3px;

}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7ce;
  padding-top: 15px;
}
.bottom button{
  background: #111;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 11px;
  color:#727272;
}
