.header{
    color: red;
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; */
}