
*{
    margin: 0;
    padding: 0;
    color: white;
    background: #000;
}
h1{
    padding: 30px;
}
h2{
    font: bold;
    font-size: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50px 50px);
    color: red;
    text-shadow: 10px 20px 5px #818181;
    /* padding: 20px; */
}

.nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.contain{
    display: flex;
    gap: 40px;
    /* color: red; */
}