.logo.react {
  width: 100%;
  height: 100%;
  margin: 20% 50%;
  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @media (prefers-color-scheme: light) {
    filter: drop-shadow(0 0 2em #61dafb);
  }

}
