.main{
    max-width: 1080px;
    margin: 20px auto;

}

.container{
    display: flex;
    justify-content: space-between;
}
.playbutton{
    display:none;
    background-color: black;
    color: white;
    padding: 0px 15px;
    border-radius: 50%;
    font-weight: 700;
}
.Main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}