@import "tailwindcss";

html,body{
  width: 100%;
  height: 100%;
}
.contain{
  margin: 50px;
}
input,textarea{
  padding: 10px;
}
button{
  padding: 10px 5px;
}
img{

  object-fit: cover;
  margin: 50px 100px;
}